
/* blog */
h2 {
    font-size: 34px;
}
    .blogMain {
        position: relative;
        bottom: 60px;
        background-color: $mainWhite;
        padding: 39px 51px;
        display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 34px;
                padding-left: 0;
                padding-bottom: 20px;
                border-bottom: 1px solid $secondaryLightColor;
            }
        }
.blogBody {
    background-color: $lightColor;
        .article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                width: 78%;
                font-size: 38px;
                padding: 0;
                text-align: center;
            }
            .blogIntro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center
            }

        }
    }
    .publicationCard {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px 0;
        line-height: 10px;
        border-bottom: 1px solid $secondaryLightColor;
        img {
            border-radius: 50%;
        }
        .author {
            display: flex;
            align-items: center;
            flex-direction: row!important;
            div {
                text-align: left;
                align-items: start;
                padding: 0 10px;
            }
        }
        .publicationInfo {
        display: flex;
        justify-content: space-between;
        li {
            margin: 0 10px;
        }
    }
    }
    .article-socials {
        display: flex;
        
        h3 {
            padding: 10px;
        }
        ul {
            display: flex;
        }
        li {
            padding: 10px;
            i{
               color: $secondaryLightColor;
            }
            .fa-twitter::before {
                color: rgb(58, 192, 236);
            }
        }
    }
    
    
    .blogPost {
        p:first-of-type {
            color: $mainBlack;
        }
    }
   
    .relatedPosts {
        h2 {
            text-align: left;
            border-bottom: 1px solid $secondaryLightColor;
            width: 100%;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                background-color: $mainWhite;
                width: calc(100% / 3 - 20px);
                min-width: 205px;
                text-align: left;
                margin: 5px;
                box-shadow:0 0 7px  $secondaryLightColor;
                transition: all .5s;

                img {
                    width: 100%;
                }
                div {
                    padding: 10px;
                }
                
            }
            li:hover {
                transform: translate(3px, -7px);
                box-shadow: 0px 7px 7px $secondaryLightColor;
            }
            span {
                i{
                    margin-left: 8px;
                }
            }
        }
    }
    .commentSection1 {
        ul{
            text-align: left;
            li {
                display: flex;
                align-items: flex-start;
                margin: 18px 0;
            }
            div {
                background-color: $lightColor;
                width: 80%;
                padding: 7px;
                h3 {
                    span {
                        color: $alertColor;
                    }
                }
            }
        }
        .speachBubble {
            margin-left: 20px;
        }

    }
    .commentSection2 {

        fieldset {
            border: none;
            padding: 0;
            margin-top: 15px;
        }
        input:first-of-type {
            margin-left: 0;
        }
        input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid $secondaryLightColor;
            padding-top: 20px;
            padding-right: 150px;
            margin-left: 2px;
        }
        input:focus {
            color: $mainBlack;
            border-bottom: 1px solid $secondaryLightColor;
        }
        #comment {
            padding: 0 81% 200px 0;
        }
        button {
            background-color: $contrastColor;
            color: $mainWhite;
            padding: 20px 50px;
            border: none;
            border-radius: 2px;
        }
    }
/* blog end */
