.beforeFooterImage {
    img {
    width: 100vw;
    margin: 0;
    position: relative;
    top: 5px; 
    }
}
.contactDetails {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // h1,
    // h2 {
    //     font-size: 58px;
    // }
    h1 {
        padding: 0;
        line-height: 6px;
    }
    p {
        line-height: 20px;
        margin: 0;
        padding: 0;
    }
    ul{
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        li {
            padding: 0 40px 0 40px;
            display: flex;
            flex-direction: column;
            i {
                font-size: 40px;
            }
        }
        .sideBorder {
            border-top: none;
            border-bottom: none;
            border-left: 1px solid $secondaryLightColor;
            border-right: 1px solid $secondaryLightColor;
        }
    }
}
.getInTouch {
    h2 {
        font-size: 58px;
        padding: 0;
    }
    fieldset {
        border: none;
        padding: 0;
        margin-top: 15px;
    }
    input:first-of-type {
        margin-left: 0;
    }
    input {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid $secondaryLightColor;
        padding-top: 20px;
        padding-right: 150px;
        margin-left: 2px;
    }
    input:focus {
        color: $mainBlack;
        border-bottom: 1px solid $secondaryLightColor;
    }

    #message {
        padding: 0 80% 250px 0;
    }
    #submit {
        background-color: $mainWhite;
    }

}