/* footer */
    footer {
    background-color: black;
    color: #999999;
    padding-top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    span:hover,
    span:focus,
    li:hover,
    li:focus {
        color: #CCCCCC;
        label {
            display: block;
            padding-bottom: 20px;
        }
    } 
    input {
        background-color: black;
        color: $secondaryColor;
        border-bottom: 1px solid $secondaryColor;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    button {
        background-color: $mainBlack;
        border: none;
        color: $secondaryColor;
        i{
            background-color: $mainBlack;
        }
    }

}
.mapsFAQEmail,
.copyAndSocials {
    display: flex;
    justify-content: space-between;
}
.mapsFAQEmail {
    padding: 20px 0 50px;
}
.mapsFAQEmail li {
    padding: 0 0 20px;
}
.copyAndSocials li {
    padding: 10px 20px 35px;
}
.socials {
    display: flex;
}

/* footer end */
