$mainBlack: #000000;
$lightColor: #EDEDED;
// Pale turquoise
// #A4F1DC
// Yellowish orange
// #F6AB09
// Baby shit green
// #84A016
$secondaryColor: #999999;
$secondaryLightColor:#CCCCCC;
// Very light pink two
// 

/* global styles */
a {
    text-decoration: none;
    color: black;
}
.wrapper {
    width: 90%;
    max-width: 1090px;
    margin: 0 auto;
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
header {
        img {
        width: 100vw;
    }
}

ul {
    padding: 0;
    list-style-type: none;
}
.flexParent {
    display: flex;
}
/* end of global styles */

/* mixins */
