$mainBlack: #000000;
$mainWhite: #ffffff;
$lightColor: #EDEDED;
$contrastColor:#84A016;
$secondaryColor: #999999;
$secondaryLightColor:#CCCCCC;
$alertColor: #A4F1DC;
$contrastColor2: #F6AB09;

$primaryFont: 'Playfair Display', serif;
$secondaryFont:'Poppins', sans-serif;



/* global styles */
html {
    overflow-x: hidden;
    font-family: $primaryFont;
}
p, span, li, label {
    font-family: $secondaryFont;
    font-size: 15px;
    line-height: 30px; 
    letter-spacing: 0.3px;
}
a {
    text-decoration: none;
    color: black;
}
.wrapper {
    width: 90%;
    max-width: 1090px;
    margin: 0 auto;
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
header {
        img {
        width: 100vw;
    }
}

ul {
    padding: 0;
    list-style-type: none;
}
.flexParent {
    display: flex;
}
.lightText {
    color: $secondaryColor;
}
.allCaps {
    text-transform: uppercase;
}
.lowercase {
    text-transform: none;
}

.allCaps.lightText {
    letter-spacing: 8px;
}
/* end of global styles */
