html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* setup end */
/* global styles */
a {
  text-decoration: none;
  color: black;
}

.wrapper {
  width: 90%;
  max-width: 1090px;
  margin: 0 auto;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header img {
  width: 100vw;
}

ul {
  padding: 0;
  list-style-type: none;
}

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* end of global styles */
/* mixins */
/* NAV */
* {
  list-style: none;
  text-decoration: none;
}

nav {
  background-color: white section;
  background-color-display: flex;
  background-color-flex-direction: row;
  background-color-justify-content: center;
  background-color-align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 23px;
  padding: 10px;
  text-decoration: none;
}

nav li {
  list-style: none;
  padding: 10px;
}

nav li a:hover,
nav li a:focus {
  color: #999999;
}

h1,
h2 {
  font-size: 58px;
  padding-left: 70px;
  padding-right: 70px;
}

/* nav end */
.homeBody {
  background-image: url("assets/pattern.png");
  background-repeat: repeat;
}

.homeBody .homeMain .aboutUs {
  background-color: #EDEDED;
  text-align: center;
}

.homeBody .homeMain .aboutUs .aboutUsPhotographAndContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeBody .homeMain .aboutUs .aboutUsPhotographAndContent h2 {
  padding: 0;
}

.homeBody .homeMain .aboutUsPhotograph {
  position: relative;
  margin-bottom: 78px;
}

.homeBody .homeMain .aboutUsPhotograph .homeCircle {
  left: 89px;
  position: relative;
  top: 70px;
  width: 150px;
}

.homeBody .homeMain .aboutUsPhotograph .photo {
  border: 5px solid white;
  -webkit-box-shadow: 0 0 20px gray;
          box-shadow: 0 0 20px gray;
}

.homeBody .homeMain .aboutUsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50vw / 2);
  margin-left: 18px;
}

.homeBody .homeMain .aboutUsContent span {
  display: inline-block;
}

/* blog */
h2 {
  font-size: 34px;
}

.blogBody {
  background-color: #CCCCCC;
}

.blogBody .blogMain {
  background-color: #EDEDED;
  padding: 20px 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.blogBody .blogMain h1 {
  font-size: 38px;
  padding: 0;
}

.blogBody .publicationCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogBody .publicationCard img {
  border-radius: 50%;
}

.blogBody .publicationCard .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogBody .publicationCard .author div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogBody .article-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogBody .article-socials h3 {
  padding: 10px;
}

.blogBody .article-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogBody .article-socials li {
  padding: 10px;
}

.blogBody .article-socials li i {
  color: #CCCCCC;
}

.blogBody .article-socials li .fa-twitter::before {
  color: lightblue;
}

.blogBody .blogPost:first-child {
  color: #CCCCCC;
}

.blogBody .publicationInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogBody .relatedPosts h2 {
  text-align: left;
  border-bottom: 1px solid black;
  width: 100%;
}

.blogBody .relatedPosts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogBody .relatedPosts ul li {
  background-color: #EDEDED;
  width: calc(100% / 3 - 20px);
  min-width: 205px;
  text-align: left;
  margin: 5px;
  -webkit-box-shadow: 0 0 10px #999999;
          box-shadow: 0 0 10px #999999;
}

.blogBody .relatedPosts ul li img {
  width: 100%;
}

.blogBody .relatedPosts ul li div {
  padding: 10px;
}

.blogBody .relatedPosts ul li:hover {
  -webkit-transform: translate(3px, -10px);
          transform: translate(3px, -10px);
}

.blogBody .relatedPosts ul span i {
  margin-left: 8px;
}

/* blog end */
.beforeFooterImage img {
  width: 100vw;
  margin: 0;
  position: relative;
  top: 5px;
}

/* footer */
footer {
  background-color: black;
  color: #999999;
  padding-top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}

footer span:hover,
footer span:focus,
footer li:hover,
footer li:focus {
  color: #CCCCCC;
}

footer span:hover label,
footer span:focus label,
footer li:hover label,
footer li:focus label {
  display: block;
  padding-bottom: 20px;
}

footer span:hover button[type="submit"],
footer span:focus button[type="submit"],
footer li:hover button[type="submit"],
footer li:focus button[type="submit"] {
  background-color: black;
  border-top: none;
  border-right: none;
  border-bottom: 1.5px solid #99999952;
  border-left: none;
  color: #CCCCCC;
}

.mapsFAQEmail,
.copyAndSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mapsFAQEmail {
  padding: 20px 0 50px;
}

.mapsFAQEmail li {
  padding: 0 0 20px;
}

.copyAndSocials li {
  padding: 10px 20px 35px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* footer end */
